li{
    list-style: none;
}
figure{
    position: relative;
    margin: 0;
}
figure:hover{
    opacity: .8;
}
figure img{
    height: 400px;
    margin: 0;
}
figcaption{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    padding: 10px 30px;
    text-align: center;
    margin: 0 20px;
    font-size: 50px;
    font-weight: lighter;
}